<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if(username == "dat") %}
        <p>Name: {{ users.dat.name }}</p>
        <p>Age: {{ users.dat.age }}</p>
        <p>Hobbies: {{ users.dat.hobbies }}</p>

    {% elif(username == "hoang") %}
    <p>Name: {{ users.hoang.name }}</p>
    <p>Age: {{ users.hoang.age }}</p>
    <p>Hobbies: {{ users.hoang.hobbies }}</p>


    {% elif(username == "linh") %}
        <p>Name: {{ users.linh.name }}</p>
        <p>Age: {{ users.linh.age }}</p>
        <p>Hobbies: {{ users.linh.hobbies }}</p>
    {% else %}
        <p>User not found</p>
    {% endif %}
</body>
</html>